<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mamam&#8212;acuan makan-makan</title>
    <link rel="shortcut icon" type="image/svg" href="./images/mamam-favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <div class="header__title">
                <img src="./images/mamam-logo.svg" alt="">
                <h1>mamam</h1>
            </div>
            
            <div>
                <nav class="nav">
                    <a id="hamburger" href="#">☰</a>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Favorites</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://github.com/dwikyrama">About Us</a>
                        </li>
                    </ul>
                </nav>

                <nav id="drawer" class="nav">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#">Favorites</a>
                        </li>
                        <li>
                            <a href="https://github.com/dwikyrama">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   
    <main id="maincontent">
        <div class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">
                    Jaga Persahabatan
                </h1>
                <p class="hero__tagline">
                    "Mau makan apa?" Pertanyaan tersulit di dunia.
                    Jaga relasi dengan cari referensi makanan di sini.
                </p>
            </div>
        </div>
        <div id="myData" class="wrapper"></div>
    </main>

    <footer>
        <p>Copyright © 2021 - <span id="copyright">mamam</span></p>
    </footer>
</body>

</html>