<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Acuan makan-makan">
    <link rel="shortcut icon" type="image/svg" href="./images/mamam-favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <title>mamam&#8212;acuan makan-makan</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">
        Menuju ke konten
    </a>
    
    <header class="app-bar">
        <div class="app-bar__brand">
            <img src="./images/mamam-logo.svg" alt="">
            <h1>mamam</h1>
        </div>
        
        <div class="app-bar__menu">
            <button id="hamburgerButton" href="#">☰</button>
        </div>
                                        
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">Favorites</a>
                </li>
                <li>
                    <a href="https://github.com/dwikyrama">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
   
    <main id="mainContent">
        <div class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">
                    Jaga Persahabatan
                </h1>
                <p class="hero__tagline">
                    "Mau makan apa?" Pertanyaan tersulit di dunia.
                    Jaga relasi dengan cari referensi makanan di sini.
                </p>
            </div>
        </div>
        <div id="myData" class="wrapper"></div>
    </main>

    <footer>
        <p>Copyright © 2021 - <span id="copyright">mamam</span></p>
    </footer>
</body>

</html>