.searchbox {
    margin: auto;
    width: 100%;
    padding: 32px 32px 0 32px;
}

input {
    display: block;
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;
    margin: auto;
    padding: 12px 16px;
    width: 100%;
    min-height: 44px;
    max-width: 320px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input:hover {
    padding: 11px 16px;
    border: 2px solid rgba(0, 0, 0, 1);
}

input:focus {
    outline: none;
    padding: 11px 16px;
    border: 2px solid #AC0D0D;
}

.form__name {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    border-radius: 8px;
    max-width: none;
    margin-top: 16px;
}

.form__review {
    width: 100%;
    border-radius: 22px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    line-height: 2em;
}

.form__review:hover {
    padding: 11px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.form__review:focus {
    outline: none;
    padding: 11px;
    border: 2px solid #AC0D0D;
}

.form__submit {
    display: block;
    margin: 0 0 0 auto;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    font-family: 'Fredoka One', cursive;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.form__submit:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.form__submit:active {
    color: white;
    background-color: #AC0D0D;
}