/* Small Screen */
@media screen and (min-width: 450px) {
    .restaurant__menu__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium Screen */
@media screen and (min-width: 640px) {
    .restaurants {
        grid-template-columns: 1fr 1fr;
        padding: 32px 2.6em;
    }

    .restaurant-item__not__found {
        grid-column-start: 1;
        grid-column-end: 3;
    } 

    .app-bar {
        padding: 8px 24px;
    }

    .restaurant__wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .restaurant__poster {
        margin: 32px 8px 16px 32px;
    }

    .restaurant__poster__image {
        width: 300px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .restaurant__menu__list {
        grid-template-columns: repeat(4, 1fr);
    }
  }
   
  @media screen and (min-width: 850px) {
    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurant-item__not__found {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .app-bar {
        grid-template-columns: 3fr 2fr;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
        padding: 0;
        background-color: transparent;
        transform: none;
    }

    .app-bar .app-bar__navigation ul {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
        line-height: 1.6em;
        text-transform: uppercase;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
        min-width: 44px;
        line-height: 44px;
        text-decoration: none;
        color: #616161;
        font-size: 1.2em;
    }

    .app-bar .app-bar__navigation ul li a:hover {
        text-decoration: underline;
        color: #AC0D0D;
    }

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)), url('../public/images/heros/hero-image_4-medium.jpg');
    }

    .like {
        right: 10vw;
    }
  }
   
  @media screen and (min-width: 1200px) {
    .restaurants {
        grid-template-columns: repeat(4, 1fr);
    }

    .restaurant-item__not__found {
        grid-column-start: 1;
        grid-column-end: 5;
    } 

    .app-bar {
        grid-template-columns: 3fr 1fr;
        padding: 8px 32px;
    }

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)), url('../public/images/heros/hero-image_4-large.jpg');
    }

    .like {
        right: 20vw;
    }
  }
