/* Medium Screen */
@media screen and (min-width: 640px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
        padding: 0;
        background-color: transparent;
        transform: none;
    }

    .app-bar .app-bar__navigation ul {
        display: flex;
        align-items: center;
        height: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
        line-height: 1.6em;
        text-transform: uppercase;
        padding-left: 2.6em;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
        min-width: 44px;
        line-height: 44px;
        text-decoration: none;
        color: #616161;
        font-size: 1.2em;
    }

    .app-bar .app-bar__navigation ul li a:hover {
        text-decoration: underline;
        color: #AC0D0D;
    }
   
    .movies {
        grid-template-columns: 1fr 1fr;
    }
   
    .movie {
        grid-template-columns: auto 1fr;
    }
   
    .movie .movie__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
   
    .movie .movie__overview {
        grid-column-start: 1;
        grid-column-end: 3;
    }
  }
   
  @media screen and (min-width: 850px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    .movies {
        grid-template-columns: repeat(4, 1fr);
    }
  }
   
  @media screen and (min-width: 1600px) {
    .movies {
        grid-template-columns: repeat(5, 1fr);
    }
  }


@media screen and (min-width: 640px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 1.6em 2.6em;
    }
    #drawer {
        position: relative;
        transform: translate(0, 0);
    }
    #hamburger {
        display: none;
    }
}

/* Large Screen */
@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
